apiVersion: v1
kind: Pod
metadata:
  name: {{ .Values.airflow.permissionsPod.name }}
  labels:
    run: {{ .Values.airflow.permissionsPod.name }}
spec:
  containers:
    - name: {{ .Values.airflow.permissionsPod.name }}
      image: {{ .Values.airflow.permissionsPod.image }}
      volumeMounts:
        - name: airflow-dags
          mountPath: {{ .Values.airflow.pv.dags.mountPath }}
        - name: airflow-logs
          mountPath: {{ .Values.airflow.pv.logs.mountPath }}
      command:
        - "sh"
        - "-c"
        - >
          chown -R 50000 {{ .Values.airflow.pv.dags.mountPath }} {{ .Values.airflow.pv.logs.mountPath }} &&
          chmod -R a+rwx {{ .Values.airflow.pv.dags.mountPath }} {{ .Values.airflow.pv.logs.mountPath }}
  volumes:
    - name: airflow-dags
      persistentVolumeClaim:
        claimName: {{ .Values.airflow.pvc.dags.name }}
    - name: airflow-logs
      persistentVolumeClaim:
        claimName: {{ .Values.airflow.pvc.logs.name }}
  dnsPolicy: ClusterFirst
  restartPolicy: Always