{{- if .Values.customStorageClassEBS.create -}}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.airflow.customStorageClassEBS.name | quote }}
provisioner: {{ .Values.airflow.customStorageClassEBS.provisioner | quote }}
volumeBindingMode: {{ .Values.airflow.customStorageClassEBS.volumeBindingMode | quote }}
reclaimPolicy: {{ .Values.airflow.customStorageClassEBS.reclaimPolicy | quote }}
allowVolumeExpansion: {{ .Values.airflow.customStorageClassEBS.allowVolumeExpansion }}
parameters:
  type: {{ .Values.airflow.customStorageClassEBS.parameters.type | quote }}
  encrypted: "{{ .Values.airflow.customStorageClassEBS.parameters.encrypted }}"
