{{- if .Values.customStorageClassEBS.create }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openmetadata-storage-deps-ebs
  annotations:
    "helm.sh/resource-policy": "keep"
    storageclass.kubernetes.io/is-default-class: "{{ .Values.customStorageClassEBS.isDefaultClass | default "false" }}"
provisioner: {{ .Values.customStorageClassEBS.provisioner | default "ebs.csi.aws.com" | quote }}
volumeBindingMode: {{ .Values.customStorageClassEBS.volumeBindingMode | default "WaitForFirstConsumer" | quote }}
reclaimPolicy: {{ .Values.customStorageClassEBS.reclaimPolicy | default "Retain" | quote }}
allowVolumeExpansion: {{ .Values.customStorageClassEBS.allowVolumeExpansion | default true }}
parameters:
  type: {{ .Values.customStorageClassEBS.parameters.type | default "gp3" | quote }}
  encrypted: "{{ .Values.customStorageClassEBS.parameters.encrypted | default "true" }}"
{{- end }}
