global:
  security:
    allowInsecureImages: true

cronJobLabels: {}

mysql:
  enabled: false
  fullnameOverride: "mysql"
  architecture: standalone
  image:
    registry: docker.io
    repository: bitnamilegacy/mysql
    tag: 8.0.37-debian-12-r2
    pullPolicy: "Always"
  auth:
    rootPassword: password    # to be provided by CI/CD
  primary:
    extraFlags: "--sort_buffer_size=10M"
    persistence:
      size: 50Gi
    service:
      nodePort: 3306
  initdbScripts:
    init_openmetadata_db_scripts.sql: |
      CREATE DATABASE openmetadata_db;
      CREATE USER 'openmetadata_user'@'%' IDENTIFIED BY 'openmetadata_password';
      GRANT ALL PRIVILEGES ON openmetadata_db.* TO 'openmetadata_user'@'%' WITH GRANT OPTION;
      commit;
    init_airflow_db_scripts.sql: |
      CREATE DATABASE airflow_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
      CREATE USER 'airflow_user'@'%' IDENTIFIED BY 'airflow_pass';
      GRANT ALL PRIVILEGES ON airflow_db.* TO 'airflow_user'@'%' WITH GRANT OPTION;
      commit;     

# OpenSearch Helm Dependency
# you can find more details about this here https://artifacthub.io/packages/helm/opensearch-project-helm-charts/opensearch/2.12.2
opensearch:
  enabled: true
  clusterName: opensearch
  fullnameOverride: opensearch
  nodeGroup: ""
  imagePullPolicy: Always
  opensearchJavaOpts: "-Xmx1g -Xms1g"
  persistence:
    enabled: true
    size: 30Gi
    storageClass: "openmetadata-storage-deps-ebs"
  protocol: http
  config:
    opensearch.yml: |
      plugins.security.disabled: true
      indices.query.bool.max_clause_count: 4096
  singleNode: true
  resources:
    requests:
      cpu: "100m"
      memory: "256M"
    limits:
      cpu: "2000m"
      memory: "2048M"
  ebs:
    enabled: true
    name: "openmetadata-storage-deps-ebs"
    type: "gp3"
    fsType: "ext4"
    reclaimPolicy: "Retain"
    volumeBindingMode: "WaitForFirstConsumer"

# Airflow configurations for helm dependency
# you can find more details about this here https://github.com/airflow-helm/charts
airflow:
  enabled: true
  namespace: "open-metadata"
  airflow:
    image:
      repository: docker.getcollate.io/openmetadata/ingestion
      tag: 1.10.4
      pullPolicy: "IfNotPresent"
    executor: "KubernetesExecutor"
    config:
      # This is required for OpenMetadata UI to fetch status of DAGs
      AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.session,airflow.api.auth.backend.basic_auth"
      # OpenMetadata Airflow Apis Plugin DAGs Configuration
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"
      # OpenMetadata Airflow Secrets Manager Configuration
      AIRFLOW__OPENMETADATA_SECRETS_MANAGER__AWS_REGION: ""
      AIRFLOW__OPENMETADATA_SECRETS_MANAGER__AWS_ACCESS_KEY_ID: ""
      AIRFLOW__OPENMETADATA_SECRETS_MANAGER__AWS_ACCESS_KEY: ""
    users:
    - username: admin
      password: admin
      role: Admin
      email: spiderman@superhero.org
      firstName: Peter
      lastName: Parker
    extraVolumeMounts:
      - mountPath: /airflow-logs
        name: efs-airflow-logs
      - mountPath: /airflow-dags/dags
        name: efs-airflow-dags
    extraVolumes:
      - name: efs-airflow-logs
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-logs-pvc
      - name: efs-airflow-dags
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-dags-pvc

  web:
    readinessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 30
      timeoutSeconds: 10
      failureThreshold: 10
    livenessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 30
      timeoutSeconds: 10
      failureThreshold: 10
  postgresql:
    enabled: false
  workers:
    enabled: false
  flower:
    enabled: false
  redis:
    enabled: false
  externalDatabase:
    type: postgres
    host: open-metadata-rds.cluster-csnm8wgeu38w.us-east-1.rds.amazonaws.com
    port: 5432
    database: airflow_db
    user: user_airflow_open
    passwordSecret: airflow-postgres-secrets
    passwordSecretKey: airflow-postgres-password
  serviceAccount:
    create: true
    name: "airflow"
  scheduler:
    logCleanup:
      enabled: false

  dags:
    path: /airflow-dags/dags
    persistence:
      enabled: false
  logs:
    path: /airflow-logs
    persistence:
      enabled: false

  # dags:
  #   path: /airflow-dags/dags
  #   persistence:
  #     enabled: true
  #     existingClaim: openmetadata-dependencies-dags-pvc
  #     storageClass: openmetadata-storage-efs-dags
  #     subPath: airflow-dags
  # logs:
  #   path: /airflow-logs
  #   persistence:
  #     enabled: true
  #     existingClaim: openmetadata-dependencies-logs-pvc
  #     storageClass: openmetadata-storage-efs-logs
  #     subPath: airflow-logs

  pv:
    logs:
      name: openmetadata-logs-pv
      labels:
        app: airflow-logs
      storage: 20Gi
      storageClassName: "efs-sc"
      reclaimPolicy: Retain
      volumeHandle: fs-0cdb18f9aa2b0fdb2:/airflow-logs
      mountPath: /airflow-logs

    dags:
      name: openmetadata-dags-pv
      labels:
        app: airflow-dags
      storage: 20Gi
      storageClassName: "efs-sc"
      reclaimPolicy: Retain
      volumeHandle: fs-0bb75839f7263e6fe:/airflow-dags
      mountPath: /airflow-dags/dags

  pvc:
    logs:
      name: openmetadata-dependencies-logs-pvc
      labels:
        app: airflow-logs
      storage: 20Gi
      storageClassName: "efs-sc"

    dags:
      name: openmetadata-dependencies-dags-pvc
      labels:
        app: airflow-dags
      storage: 20Gi
      storageClassName: "efs-sc"